*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.subtitulo{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

h2{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 3rem;
    background-color: rgb(221, 197, 87);
    color: black;
    font-weight: bold;
}

.container-fluid {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.col{
    padding: 1.5rem;
}


body{
    background-color: black;
    color: white;
}


ul li a{
    text-transform: uppercase;
}


ul li a:hover{
    text-decoration: underline 0.2rem solid goldenrod;
    transform-origin: left;
    transition: text-decoration 0.3s ease-in-out;
}

img{
    object-fit: cover;
}

.navbar-text{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: goldenrod;
}

.carousel-item img{
    width: 100%;
    height: 50rem;
}

.videonosotros{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.maps-ubicacion{
    display: flex;
    justify-content: center;
}

.videonosotros iframe {
    border: 1px solid goldenrod;
}
.textonosotros {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.textonosotros h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    color: goldenrod;
    margin-top: 2rem;
}


.texto_inicio{
    margin-top: 2rem;
}


.imgmenu{
    width: 10rem;
    height: 10rem;
    border-radius: 3rem;
}
.col h3{
    text-align: center;
}

.col p{
    text-align: justify;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 1rem;
}
.ubicacion p{
    margin-top: 3rem;
    text-align: center;
    align-items: center;
}
.ubicacion iframe{
    border-radius: 1rem;
}

.button {
    text-align: center;
    margin-top: 1rem;
    color: white;
}

.formcontacto {
    margin-top: 2rem;
    width: 50%;
}

.formulario{
    display: flex;
    justify-content: center;
}

.container .col:hover{
    transform: scale(1.2);
    transition-duration: 0.7s;
}

.mi-input{
    border: 0.2rem solid goldenrod;
}